#first{
    background-color: #E6FFFD;
    padding-bottom: 100px;
}
#first > h1{
    padding-top: 100px;
    text-align: center;
    font-family:'Satisfy', cursive;
}
#first span{
    color: #B799FF;
}
.cloud{
    margin-left: auto;
    display: block;
    position: relative;
    bottom: 130px;
    right: 50px;
}
.cloud2{
    position: relative;
    left: 20px;
}
.ice{
    position: relative;
    top: 100px;
    width: 100%;
    border-radius: 20%;
    height: 200px
}
.div2 > img{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40%;
    margin-bottom: 40px;
}
.div2 h2{
    text-align: center;
    color: #2CD3E1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}