#first{
    background-color: #E6FFFD;
    padding-bottom: 200px;
}
#first > h1{
    padding-top: 100px;
    text-align: center;
    font-family:'Satisfy', cursive;
}
#first span{
    color: #B799FF;
}
.cloud{
    margin-left: auto;
    display: block;
    position: relative;
    bottom: 100px;
    right: 50px;
}
.cloud2{
    position: relative;
    left: 20px;
}
