#main_page{
    background-color: #CCD6A6;
    height: 130px;
}
#main_page > h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    padding-top: 35px;
}
#main_page{
    text-align: center;
}
.index{
    position: relative;
    bottom: 90px;
    left: 40px;
    font-weight: 500;
    color: black;
}
.extra{
    height: 0px;
}
#main_page .about{
    position: relative;
    color: black;
    left: -20px;
}
.contact{
    position: relative;
    left: 90px;
    color: black;
}
#main_page .contact_us{
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 40px;
    top: 2px;
}
.home_icon{
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 90px;
    right: 40px;
}
.secondDiv{
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
    text-align: center;
}
.secondDiv > img{
    /* margin-left: 100px; */
    /* float: left; */
    border-radius: 60%;
    margin-bottom: 10px;
}
.last{
    background-color: #DAE2B6;
    height: 320px;
}
.last > form{
    position: absolute;
    margin-top: 100px;
    left: 50px;
}
.text_box{
    width: 350px;
    border-radius: 10px;
}
.submit{
    background-color: #FFFBE9;
    border-radius: 20px;
}
 