#main_page{
    background-color: #CCD6A6;
    height: 130px;
}
#main_page > h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    padding-top: 35px;
}
#main_page .index{
    position: relative;
    bottom: 4px;
    left: 10px;
    font-weight: 500;
    color: black;
}
#main_page img{
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 40px;
    right: 110px;
}
